firebase==3.0.1
Flask==1.1.1
gunicorn==19.4.5
itsdangerous==1.1.0
Jinja2==2.10.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
librosa==0.7.0
MarkupSafe==1.1.1
numpy==1.16.4
tensorboard==1.14.0
tensorflow==1.14.0
Werkzeug==0.15.4
